.countryInfoTitle {
    font-size: 3vw;
    text-align: center;
    color: darkgrey;
    margin: 10px;
    font-weight: bold;
}
ul, .countryInfoTitle {
    border: darkslateblue;
    border-style: solid;
}
ul, li {
    color: darkgrey;
    margin: 5px;
    font-size: 2vw;
}